*.pyc
__pycache__/
.venv/
.env
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
data/raw/**
data/interim/**
data/processed/**
!data/external/
results/**/*
!results/.gitkeep
.DS_Store
*.tif
*.tiff
*.nc
*.zarr
*.parquet
